@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #ffcb45;
    --color-2: #fff;
    --color-3: blue;
    --color-4: #e9a209;
}
header{
    width: 100%;
    padding:  28px 8%;
    position: sticky;
    top: 0;
    z-index: 3;
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.item a{
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
}
#cta{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2%;
    align-items: center;
}
#cta h1{
    font-size: 4rem;
    color: var(--color-4)
}
#cta h5{
    font-size: 2rem;
}
#cta span{
    font-size: 20px;
}
#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 80%;
    margin-top: -20%;
}
#banner img{
    height: 300px;
    background-color: white;
    width: 300px;
}
.shape{
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
}
.button{
    background-color: #1d1d1d;
    color: var(--color-2);
    border-radius: 3rem;
    padding: 14px 100px;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease;
    border: none;
}
.button:hover{
    background-color:#3d3d3d
}
.links{
    width: 35%;
    display: flex;
    gap: 13px;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
}
.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-4);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}
.links a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}
@media screen and(max-width: 1170px){
    #nav_list,#banner{
        display: none;
    }
}